<app-navbar></app-navbar>
<div class="container">
	<div class="row mt-3">
		<div class="col-md-12" style="color: antiquewhite; font-size: 22px;">
			Our Faculty: Mrs. Manisha Upadhye
		</div>
	</div>
    <div class="row">
        <div class="col-md-12">
            <div class="card my-4">
				<div class="card-body card-bg">
					<div class="card-title title">Mrs. Manisha Upadhye</div>
					<div class="card-text">
						<i class="fa fa-star"><em class="txt">&nbsp; B.E EnTC Govt College of Engineering, Aurangabad<i>(Topper)</i></em></i><br>
						<i class="fa fa-star"><em class="txt">&nbsp; 10<sup>th</sup> and 12<sup>th</sup> Merit Holder</em></i><br>
						<i class="fa fa-star"><em class="txt" style="color: orangered;">&nbsp; 12<sup>th</sup> PCM <i>100/100</i> </em></i><br>
						<i class="fa fa-star"><em class="txt">&nbsp; 10<sup>th</sup> St. Xaviers School, Aurangabad</em></i><br>
						<i class="fa fa-star">
							<em class="txt">&nbsp; 2 years job in VLSI Design field</em>
							<ul class="txt-sec"> 
								<li>QualCore Logic, Hyderabad (1998)</li>
								<li>NitAl Computer Systems, Pune (2004)</li>
							</ul>
						</i><br>
						<i class="fa fa-star">
							<em>
								<p class="txt">
									&nbsp;12 years of teaching experience, <br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I love teaching, <br>
									&nbsp;&nbsp;&nbsp;  Teaching is my passion, <br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I am sure my students love learning.
								</p>
							</em>
						</i><br>
					</div>
				</div>
			</div>
        </div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card my-3">
				<div class="card-body card-bg">
					<div class="card-title txt">Contact Us:</div>
					<div class="card-text">
						<address>
							<i class="fa fa-envelope"><a class="text-dark" href="mailto:enquiry@upadhyeclass.com"> enquiry@upadhyeclass.com</a></i> <br>
							<i class="fa fa-phone"></i><a class="text-dark" href="tel:+91 95526-27639">  95526-27630</a>
						</address>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
