nav{
    border: 2px solid gold;
    border-radius: 3px;
}

.nav-link{
    color: gold;
}

.item:hover{
    background-color: rgb(102, 0, 102);
    color: purple;
    border-radius: 4px;
    color: black;
}

.nav-bg{
    background-color: purple;
}