nav{
    border: 2px solid gold;
    border-radius: 3px;
}

.active-tab{
    font-weight: 600;
    border-radius: 4px;
    background-color: rgb(102, 0, 102);
    border-bottom: 3px solid gold;
}

.nav-link{
    color: gold;
}

.item:hover{
    background-color: rgb(102, 0, 102);
    border-radius: 4px;
    font-weight: 600;
}

.nav-bg{
    background-color: purple;
}

.icon{
    color: red; font-size: 30px; background-color: black; border-radius: 8px;
}