<nav class="navbar sticky-top navbar-expand-lg navbar-dark nav-bg">
    <a class="navbar-brand" routerLink="/home" style="color: gold; font-size: 24px;">
      <img src="assets/classLogo.png" alt="logo" height="40px" width="40px">
      Upadhye Classes
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link item" style="color: gold; font-size: 18px;" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link item" style="color: gold; font-size: 18px;" routerLink="/about">About us</a>
        <a class="nav-item nav-link item" style="color: gold; font-size: 18px;" routerLink="/results">Results</a>
      </div>
    </div>
  </nav>