<app-navbar></app-navbar> 
<header class="p-2">
    <div class="card head-span px-2 mt-3">
        <h1>Upadhye Classes</h1>
        <h4>10<sup>th</sup>, 11<sup>th</sup>, 12<sup>th</sup>  &nbsp; <em style="color: gold;">Physics, Chemistry, Maths</em> &nbsp; CBSE, HSC Board</h4>
        <h4>MHT-CET Coaching</h4>
        <h5>Engineering Maths, Electronics</h5>
        <i class="fa fa-map-marker" style="font-size: 20px;"> <i> Aundh, Pune</i> </i>
    </div>
</header>
<div class="container-fluid mt-3">
    <section class="" style="height: 800px;">
        <div class="card w-100 h-100">
            <img src="assets/cls1.jpeg" alt="Class" class="card-img-top" height="100%" style="filter: blur(5px);">
            <div class="card-img-overlay">
                <h1 class="card-title title">Our Aim is to bring out maximum potential from <u>each and every student</u></h1>
                <p class="card-text text">
                    <!-- Maximum <b>15</b> students in a class -->
                </p>
            </div>
        </div>
    </section>
    <section class="card my-2">
        <div class="row">
            <div class="col w-100 text-center">
                <img src="assets/classLogo.png" alt="logo" >
            </div>
        </div>
    </section>
    <section class="card my-2">
        <div class="row">
            <div class="col w-100 text-center">
                <img src="assets/classLogo.png" alt="logo" >
            </div>
        </div>
    </section>
</div>