header{
    background-color: purple;
}

.head-span{
    background-color: rgb(83, 0, 83);
    color: antiquewhite;
    border-radius: 4px;
    border: 2px solid gold;
}

.custom-bg{
    background-image: url('/assets/gallery/cls1.jpeg');
    background-repeat: no-repeat;
    background-size:80%;
    background-position: right;
    height: 100%;
}

.title{
    font-size: 55px;
    color:black;
    font-weight: bold;
    word-wrap: normal;
    text-align: left;
    background-color: rgba(250, 235, 215, 0.377);
    border-radius: 4px;
}

.text{
    font-family: tekton-pro, sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: black;
}

.features{
    font-size: 20px;
    vertical-align: middle;
}

ul{
    font-weight: bold;
}

li:hover{
    color: orangered;
    background-color: purple;

}