<app-navbar></app-navbar> 
<header class="p-2">
    <div class="card head-span px-2 mt-3">
        <h1>Upadhye Classes</h1>
        <h4>10<sup>th</sup>, 11<sup>th</sup>, 12<sup>th</sup>  &nbsp; <em style="color: gold;">Physics, Chemistry, Maths</em> &nbsp; CBSE, HSC Board</h4>
        <h4>MHT-CET Coaching</h4>
        <h5>Engineering Maths, Electronics</h5>
        <i class="fa fa-map-marker" style="font-size: 20px;"> <i> Aundh, Pune</i> </i>
    </div>
</header>
<div class="container-fluid mt-3">
    <section class="" style="height: 800px;">
        <div class="card w-100 h-100">
            <img src="assets/cls1.jpeg" alt="Class" class="card-img-top" height="100%" style="filter: blur(0px);">
            <div class="card-img-overlay">
                <h1 class="card-title title">Our Aim is to bring out maximum potential from <u>each and every student</u></h1>
                <p class="card-text text">
                    <!-- Maximum <b>15</b> students in a class -->
                </p>
            </div>
        </div>
    </section>
    <section class="card my-2 mb-5" style="background-color: antiquewhite;">
        <div class="row">
            <div class="col-md-4 text-center">
                <ul class="list-group list-group-flush features pl-3">
                    <li class="list-group-item" style="background-color: antiquewhite;">Personal Attention</li>
                    <li class="list-group-item" style="background-color: antiquewhite;">Basics Concepts cleared</li>
                    <li class="list-group-item" style="background-color: antiquewhite;">Regular Tests</li>
                    <li class="list-group-item" style="background-color: antiquewhite;">Test Discussions</li>
                </ul>
            </div>
            <div class="col-md-4 w-100 text-center">
                <img src="assets/classLogo.png" alt="logo" height="250px" width="250px">
            </div>
            <div class="col-md-4 features text-center">
                <ul class="list-group list-group-flush features pr-5">
                    <li class="list-group-item" style="background-color: antiquewhite;">Reasonable Fees</li>
                    <li class="list-group-item" style="background-color: antiquewhite;">Revision, doubt sessions till final exam</li>
                </ul>
            </div>
        </div>
    </section>
</div>